<div class="col">
    <div class="row"> <div class="h2 col-lg-4"><%=%bus.cname></div></div>
    <div class="h4 col-lg-2"><%=%bus.name>
        <div class="h4 col-lg-2">Dep.Time<%=%bus.depTime></div>
    </div>
    
    <div class="h4 col-lg-2">Arr.Time<%=%bus.arrTime></div>
    <div class="h2 col-lg-2">Fare :<%=%bus.fare></div>

</div>
   
</div>