<%-include('../../partials/head.ejs')%>
<div class="container" style="
min-height: 100vh ">
<div class="card">
  <%
  if(message){%>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>
        <%= message %>
      </strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <%} 
  %>
    <h5 class="card-header bg-light"><%=Option%> Available</h5>
    <div class="card-body p-3">
      <%if(Option=='Bus')
      {%><%-include('../partials/bus.ejs')%> <%}
      else if(Option='Train'){%>
        <%-include('../../partials/ctrain.ejs')%>
      <%}
      %>
      
      <a href="#" class="btn btn-primary">back</a>
    </div>
  </div>
</div>
</div>
<%-include('../../partials/footer.ejs')%>
  </body>

</html>






